table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

label {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
}

.alert {
  color: red;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
}

.example-card {
  max-width: 400px;
}


/* Add any other styles as needed */

